* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	display: block !important;
	margin: 0;
}

img {
	border: 0;
}

.regular {
	display: block;
}

.heavy {
	display: none;
}

#container {
	width: 1000px;
	float: left;
	vertical-align: middle;
}

#side_table {
	width: 500px;
	float: left;
	vertical-align: middle;
}

#header {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	background-color: rgb(221, 238, 255);
	border-bottom: 1px solid rgb(51, 102, 153);
	border-right: 1px solid #000; 
	border-left: 1px solid #000;
	color: #06c;
	text-align: center;
	font-weight:bold;
	padding: 0;
}

.footer {
	width: 1000px;
}

.clear {
	clear:both !important;
}


.selection_title {
	height:20px;
	margin:0px 20px 5px 0px;
	text-align:center;
	font-weight:bold;
	color:#33a;
}

/* Resource Priorities */
.selections {
	margin: 0;
	background-color: #f0f5ff;
	border-bottom: 1px solid #369;
	border-right: 1px solid #000; 
	border-left: 1px solid #000;
}

.sub_selection {
	margin: 0 auto;
	width: 315px;
	display: inline-block;
	vertical-align: middle;
	height: 50px;
}

.sub_selection.calc_button {
	width: 100px;
	margin-right: 5px;
}

.resource {
	width:75px;
	height:20px;
	line-height:20px;
	float:left;
	margin:0px 3px 0px 0px;
}
.resource_label {
	width:20px;
	height:20px;
	float:left;
	margin:0px 5px 0px 0px;
}
.resource_label img {
	width:18px;
	height:18px;
	margin:1px;
	vertical-align:top;
}
.resource_input {
	width:50px;
	height:18px;
	line-height:18px;
	float:left;
}
.resource_input input {
	width:50px;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:0px;
	text-align:center;
}

.calculate_box {
	width:120px;
	border-right:0px none;
	height:50px;
	float:left;
	margin:5px 0px 0px 0px;
}

.calculate_button {
	width:100px;
	height:30px;
	line-height:28px;
	margin:10px 0px;
	border-radius:10px;
	text-align:center;
	background:#cde;
	border:1px outset #ace;
	cursor: pointer;
}

.heavy_button {
	display: none;
}

.check_box {
	width: 170px;
	height: 50px;
	margin: 0;
	padding-top: 20px;
}

#checklab {
	display: block;
	margin-top: 5px; 
}

#checker {
	margin: 0;
	vertical-align: middle;
}

.radio_box {
	height: 50px;
	margin: 0;
	text-align: right;
}

div.radio_prod {
	width: 170px;
}

div.radio_tier {
	width: 120px;
	display: none;
}

label.radio_prod {
	display: block;
}

table {
	border-collapse: collapse;
}

th, td {
	width: 200px;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding: 4px;

	vertical-align: top;
}

table.results_table {
	border-right: 1px solid #000; 
	border-left: 1px solid #000;
}

table#standard_rules_table, table#heavy_rules_table {
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	margin-left: 1px;
}

table#standard_rules_table th, table#standard_rules_table td,
table#heavy_rules_table th, table#heavy_rules_table td {
	border-right: 1px solid #000;
	padding: 2px;
	vertical-align: middle;
}

table#standard_rules_table th, table#heavy_rules_table th {
	color:#33a;
	background-color: #f0f5ff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

#heavyRow {
	display: none;
}

#table_title {
	height: 30px;
	background-color: rgb(221, 238, 255);
	border-bottom: 1px solid rgb(51, 102, 153);
	color: #06c;
}

.S2 {
	background-color: #fffff9;
}

li {
	float: left;
	clear: both;
	width: 100%;
}

div.clear {
	box-sizing: border-box;
	height: 10px;
	clear: both;
	display: block;
}

span.DollName {
	margin-left: 5%;
	float: inherit;
	width: 60%; 
	font-weight: bold;
}

span.DollTime {
	float: inherit;
	text-align: right;
	width: 30%;
}

.S3 {
	background-color: #cdf8ff;
}

.S4 {
	background-color: #caefa1;
}

.S5 {
	background-color: #ffd96e;
}

.none {
	color: black;
}


td#HG1:hover, td#HG2:hover,
td#SMG1:hover, td#SMG2:hover,
td#AR1:hover, td#AR2:hover,
td#RF1:hover, td#RF2:hover,
td#MG1:hover, td#MG2:hover,
td#maxHG:hover, td.max:hover,

td#HSG1:hover, td#HSG2:hover,
td#HSMG1:hover, td#HSMG2:hover,
td#HAR1:hover, td#HAR2:hover,
td#HRF1:hover, td#HRF2:hover,
td#HMG1:hover, td#HMG2:hover, 
td.Hmax:hover {
	background-color: rgb(221, 238, 255);
	cursor: pointer;
}

#info {
	padding: 1px;
	margin: 2px;
}

.unreleased {
	color: red;
}